* {
    padding: 0;
    margin: 0;
    border: 0;
}
form {
    text-align: left;
    width: 400px;
    border: 1px solid #bdc3c7;
    padding: 35px;
    border-radius: 10px;
    margin-left: calc(25% - 235px);
    display: block;
    margin-top: 0em;
}
.form_adm {
    text-align: left;
    width: 908px;
    border: 1px solid #bdc3c7;
    padding: 35px;
    border-radius: 10px;
    margin-left: 0px;
    float: left;
}
