* {margin: 0; padding: 0; border: 0;}
/* TAGS */
body {
	font-family: 'Raleway', sans-serif;
}
h1{
	font-weight:400;
}
h3{
	font-weight:600;
}
/* tags */

div#wrapper {
    width: 100%;
    height: 100%;
}

div#header {
    width: 100%;
    height: 200px;
    background: #1E1E1E;
}

div#logo {
    width: 400px;
    margin:36px;
    float: left;
}

div#nav {
    width: 100px;
    margin: 50px 36px 0 0;
    float: right;
    background-color: transparent;
}
div#footer {
	clear: both;
	float:left;
	width:100%;
	height: 90px;
	background-color: #f6f6f6;
}

div#footer p{
	margin-top: 27px;
	font-size:30px;
	color:#a7a7a7;
}

/* MENU */
div#menu{
    width:100%;
    height: auto;
    z-index:99;
	background: #1E1E1E;
	position: absolute;
	margin-top: -1px;
}
#menu ul li a {
    background: #1E1E1E;
    font-size: 80px;
    text-align: center;
    width: calc(100%-40px);
    padding:20px;
	display: block;
	text-decoration: none;
}
#menu ul li a {
	color: #F8F8F8;
}
#menu ul li:hover{
    background-color: rgba(30,30,30,0.1);
}
/* menu */

div#mapa {
    width: 100%;
    height: 1600px;
    z-index: 1;
}

div#filtros {
    width: 100px;
    height: 100px;
    position: fixed;
    left: 13px;
    bottom: 13px;
    z-index: 99;
}

div#containermap {
    width: 100%;
    height: 1500px;
    position: relative;
}

div#container {
    width: calc(100% - 120px);
	padding:30px 60px;
	color:#535455;
	float:left;
}
#desen{
	float:left;
	width: calc(80% - 120px);
	padding:30px 60px;
	margin-left:10%;
	font-size: 1.0625em;/*/17*/
}
/* CLASSES */
.paragrafo {
	text-align:justify;
	font-size: 1.0625em;//17
}
/* classes */

/* DESENVOLVEDOR*/
.esp {
	width: 100%;
	height: 20px;
	float: left;
}

.desenvolvedor {
	width: calc(50% - 20px);
	padding: 10px;
	float: left;
    word-wrap: break-word;
	min-height:240px;
}
.desenvolvedor p {
    font-size: 17px;
}


/* desenvolvedor */