* {
	padding: 0;
	margin: 0;
	border: 0;
}

/*TAGS*/
body{
	background-color:white;
}
a{
	cursor:pointer;
}
h1{
	font-weight:400;
}
h3{
	font-weight:600;
}
form{
	text-align:left;
	width:400px;
	border:1px solid #bdc3c7;
	padding:35px;
	border-radius:10px;
	margin-left:calc(25% - 235px);
}
table{
	/*border:1px solid #bdc3c7;*/
	border-radius:5px 5px 0px 0px;
	-webkit-box-shadow: 1px 1px 5px 0px rgba(35,35,35,0.5);
	-moz-box-shadow: 1px 1px 5px 0px rgba(35,35,35,0.5);
	box-shadow: 1px 1px 5px 0px rgba(35,35,35,0.5);
}
table tr.border-tr td{
	border-bottom:1px solid #bdc3c7;
}
table th{
	border-bottom:1px solid #bdc3c7;
	padding:10px 30px;
	text-align:center;
}
table td{
	border:0px solid #bdc3c7;
	padding:10px 30px;
	text-align:center;
}
.border-esq{
	border-radius:5px 0px 0px 0px;
}
.border-dir{
	border-radius:0px 5px 0px 0px;
}
.none-form{
	width:auto;
	border:none;
	padding:0px;
	border-radius:none;
	margin-left:0px;
	float:none;
}
.none-form button{
	background:transparent;
}
.form_adm{
	text-align:left;
	width:908px;
	border:1px solid #bdc3c7;
	padding:35px;
	border-radius:10px;
	margin-left: 0px;
	float:left;
}

.form_user1{
	border-radius: 0px;
	border: 0px;
	text-align:left;
	width:400px;
	float:left;
	left: 0px;
	padding: 30px 45px 30px 30px;
}
.form_user2{
	border: 0px;
	text-align:left;
	width:400px;
	float:right;
	left: 0px;
	padding: 30px 30px 30px 20px;
}
/*TAGS*/


/*BASE*/
div#wrapper {
	margin: auto;
	width: 100%;
	height: auto;
	font-family: 'Raleway', sans-serif;
	background:#232323;
}

div#container{
	width:100%;
	background:white;
	float:left;
}

div#header {
	width: 980px;
	height: 70px;
	margin:0 auto;
	background-color: #232323;
}

div#mapa {
	width: 100%;
	height: 500px;
	float: left;
	background:transparent;
	border-bottom: 1px solid #e3e3e3;
}
div#mapaadm {
	width: 402px;
	height: 370px;
	float: right;
	background:transparent;
	margin-bottom: 35px;
}

/*-----------------FORM SINALIZAÇÃO */
.formSinal{
	text-align:left;
	min-width:700px;
	width: auto;
	border:1px solid #bdc3c7;
	padding:35px;
	border-radius:10px;
	margin-left: 0px;
	float:left;
}

div#mapaSinal {
	width: 365px;
	height: 250px;
	float: right;
	background:transparent;
	margin-bottom: 3px;
}

div#formSinalEsquerda{
	width: 253px;
	float:left;
	padding-right: 52px;
	border-right: 1px solid #bdc3c7;
}

div#formSinalDireita{
	width: 375px;
	float:right;
}

.formSinalInput{
	padding:10px;
	width:250px;
	display:block;
	line-height:1.467;
	color:#34495e;
	border:1px solid #bdc3c7;
	border-radius:4px;
	box-shadow: none;
	-webkit-transition: border 0.1s linear, color 0.1s linear, background-color 0.1s linear;
	transition: border 0.1s linear, color 0.1s linear, background-color 0.1s linear;
}
.formSinalInput:focus{
	border:1px solid #535455;
	outline:none;
}

/*TEXT ÁREA*/
textarea { resize:both; } /* none|horizontal|vertical|both */
textarea.vert { resize:vertical; }
textarea.noResize { resize:none; }
textarea { resize:vertical; max-height:300px; min-height:200px; }
textarea.horiz { resize:horizontal; max-width:400px; min-width:200px; }

.tablelatLng{
	margin: 20px 3px 20px 0px;
	float: right;
}

.latLng{
	width: 100px;
}

.selectSinal{
	width:270px;
}

/*FIM SINAL*/
div#content {
	width: 980px;
	float:left;
	margin-left:calc(50% - 525px);
	min-height:450px;
	padding:35px;
	font-size:17px;
	color:#535455;
}

div#footer {
	clear: both;
	float:left;
	width:100%;
	height: 40px;
	background-color: #f6f6f6;
	font-family: 'Raleway', sans-serif;
}

div#footer p{
	font-size:14px;
	color:#a7a7a7;
	line-height: 40px;
}

div#form1{
	float:left;
	padding-right: 52px;
	border-right: 1px solid #bdc3c7;
}

div#form2{
	float:right;
	margin-left
}
div#form_user{
	padding:30px 10px 40px 10px;
	width: auto;
	height: 520px;
	line-height:1.467;
	color:#34495e;
	border:1px solid #bdc3c7;
	border-radius:4px;
	box-shadow: none;
	-webkit-transition: border 0.1s linear, color 0.1s linear, background-color 0.1s linear;
	transition: border 0.1s linear, color 0.1s linear, background-color 0.1s linear;
}
/*BASE*/

/*MENU*/
div#nav-header {
	width: auto;
	height: 30px;
	line-height:30px;
	float: right;
	margin-top:15px;
	padding: 5px 0px 5px 5px;
}
#nav-header ul li:nth-child(1){
	margin-right:0px;
	padding: 0px 0px 0px 10px;
}

div#nav-header ul {
	list-style-type: none;
}

div#nav-header ul li{
	display: inline;
	float: right;
	padding: 0px 10px;
}

div#nav-header ul li a {
	text-decoration: none;
	color: #a7a7a7;
}

div#nav-header ul li a:hover {
	color: #f8f8f8;
}
/*MENU*/

/*DESENVOLVEDOR*/
.esp{
	width:100%;
	height:20px;
	float:left;
}

.desenvolvedor{
	width:235px;
	padding:5px;
	float:left;
    word-wrap: break-word;
}
.desenvolvedor p{
    font-size: 16px;
}

.margin_des{
	margin-right:0px;
}
/*DESENVOLVEDOR*/

/*TABELA*/
.tabela{
	margin-left:0px;
}
.tabela th{
	border-color:#c6c6c6;
	background:#f1f1f1;
}
.tabela td{
	border-color:#c6c6c6;
}
.font-icon{
	font-size:25px;
	color:#ddd;
}
.font-icon:hover{
	color:#535455;
	transition:all 0.1s ease-out;
}
/*TABELA*/

/*CLASSES*/
.logo{
	float:left;
	margin-top:12.5px;
	width:150px;
}
.form{
	padding:10px;
	width:380px;
	display:block;
	line-height:1.467;
	color:#34495e;
	border:1px solid #bdc3c7;
	border-radius:4px;
	box-shadow: none;
	-webkit-transition: border 0.1s linear, color 0.1s linear, background-color 0.1s linear;
	transition: border 0.1s linear, color 0.1s linear, background-color 0.1s linear;
}
.form:focus{
	border:1px solid #535455;
	outline:none;
}
.select{
	width:402px;
}

.button{
	width:auto;
	padding: 0 35px;
	height:40px;
	font-size: 16px;
	background: #BD4040;
	border-radius:4px;
	cursor:pointer;
	color:#fff;
	float:right;
}
.button_user{
	width:auto;
	padding: 0 35px;
	height:40px;
	font-size: 16px;
	background: #BD4040;
	border-radius:4px;
	cursor:pointer;
	color:#fff;
	float:right;
	right: 0;
}
.check{
	margin-top:13px;
}
.button:hover{
	transition:all 0.1s ease-out;
	background:#B53737;
}
.text-home {
	width: 500px;
	float: left;
}
.legenda-home {
	float: right;
}
.legenda-home ul {
	list-style: none;
}
.legenda-cic-ativa {
	color: rgba(189, 64, 64, 0.8);
}
.legenda-cic-obras{
	color: #00DAFF;
}
.paragrafo{
	text-align: justify;
}
/*CLASSES*/
